.process {
  display: block;
  width: 100%;
  opacity: 0;
}

.image {
  display: block;

  margin: 0;
  padding: 0;

  overflow: hidden;
  border-radius: 0.25rem;
}

.text {
  display: block;

  h4 {
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: 600;
  }

  p {
    margin: 1rem 0;
  }
}

.help {
  display: block;
  margin: 1rem 0;
  font-weight: 600;
}

.manage {
  display: block;
  margin-top: 2rem;
}

.visible {
  animation: fade-in 0.375s 0.125s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}