@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=block');

:root {
  --color-primary: #ECD61A;
  --color-secondary: rgba(248, 234, 128, 0.85);
  --color-dark: #000;
  --color-light: #fff;
  --color-ground: #4f4f4f;
  --color-button: #ccc;
}

* {
  box-sizing: border-box;
}

body {
  display: block;

  margin: 0;
  padding: 0;

  font: 400 16px/1.5 'Raleway', sans-serif;;

  color: var(--color-dark);
  background-color: var(--color-light);
}

#root {
  display: flex;

  width: 100%;
  max-width: 48rem;
  min-height: 36rem;
  margin: 0 auto;

  padding: 2rem 1rem 4rem;
  font-size: 1.075rem;
}

button {
  font-family: inherit;
}

a {
  text-decoration: none;

  color: inherit;
  border-bottom: solid 2px var(--color-primary);

  transition: background-color 0.25s;

  &:hover {
    background-color: var(--color-secondary);
  }
}

img {
  display: block;

  max-width: 100%;
  height: auto;
}

strong {
  font-weight: 600;
}